body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: fixed;
  background-color: #e8e4e6;
}

html {
  scroll-behavior: smooth;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  z-index: 20;
}

.login-body {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  height: 4rem;
}

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 1.675rem;
  color: #abd1c6;
  transition: all 0.35s;
}
.input {
  height: inherit;
  width: 16rem;
  border: 2px solid #abd1c6;
  border-radius: 0.5rem;
  outline: none;
  background: #e8e4e6;
  color: #004643;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}
.modal-input {
  height: inherit;
  width: 30rem;
  border: 2px solid #abd1c6;
  border-radius: 0.5rem;
  outline: none;
  background: #e8e4e6;
  color: #004643;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}
.list-input {
  width: 93%;
  border: 2px solid #abd1c6;
  outline: none;
  background: #e8e4e6;
  color: #004643;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}

input:focus {
  border-color: #004643;
}
input:focus ~ .icon {
  color: #004643;
}
.icon:active {
  color: #004643;
}

input::placeholder {
  color: #abd1c6;
}

.open-drawer {
  border-style: solid;
  border-width: 1px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 350px;
  overflow: hidden;
  z-index: 20;
  transition: all 0.5s ease;
}

.close-drawer {
  border-style: none;
  border-width: 1px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  max-width: 350px;
  overflow: hidden;
  z-index: 20;
}

.user-list {
  height: 80%;
  width: 95%;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.userpage {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 0;
  overflow: auto;
}

.box {
  height: 20rem;
  width: 15rem;
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 40;
  height: 100%;
  width: 100%;
}

.modal .back-drop {
  position: absolute;
  background: #111827f0;
  top: 0;
  width: 100%;
  height: 100%;
}

.create-list {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 25%;
}

.list {
  position: fixed;
  width: 60%;
  height: 90%;
  top: 5%;
  right: 20%;
}

.list-area {
  width: 100%;
  height: 85%;
}

@media screen and (max-width: 614px) {
  .list-input {
    border: 1px solid #abd1c6;
    font-size: 0.8rem;
  }
  .smile {
    size: 20;
  }
  .welcome {
    font-size: 1.5rem;
  }
  .please {
    font-size: 1rem;
  }
  .login-box {
    padding: 35px;
  }
  .signup-intro {
    font-size: 1rem;
  }
  .signup {
    padding: 35px;
  }
}
@media screen and (max-width: 920px) {
  .user-intro {
    display: none;
  }
  .file {
    size: 30;
  }
}
@media screen and (max-width: 1555px) {
  .user-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1375px) {
  .user-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1049px) {
  .user-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .modal-input {
    width: 20rem;
  }
}
@media screen and (max-width: 806px) {
  .user-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .modal-input {
    width: 17rem;
  }
  @media screen and (max-width: 623px) {
    .modal-input {
      width: 15rem;
    }
  }
}
@media screen and (max-width: 553px) {
  .user-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 550px) {
  .modal-input {
    width: 12rem;
    font-size: 0.7rem;
  }
  .create-list {
    font-size: 0.7rem;
  }
  .smile {
    size: 20;
  }
}

@media screen and (max-width: 420px) {
  .modal-input {
    width: 10rem;
  }
  .create-list {
    width: 60%;
    left: 20%;
  }
}
@media screen and (max-width: 360px) {
  .modal-input {
    width: 9rem;
    font-size: 0.5rem;
  }
  .create-list {
    width: 60%;
    height: 50%;
    left: 20%;
    font-size: 0.5rem;
  }
}
